@charset "UTF-8";

/*
*--CORES--
*
* AZUL  #001fb89a
* DOURADO #FFCE38
*/

*{
    margin: 0;
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #001fb89a;
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

main{
    height: 100vh;
    width: 100vw;
    position: relative;
}

section#login{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);
    background-color: white;    
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;

    transition: width .4s, height .4s;
    transition-timing-function: ease;
    
}

section#login > div#img{
    background: url(../img/cor.jpg) no-repeat;
    height: 200px;
    background-size: cover;
}

section#login > div#form{
    display: block;
    padding: 10px;

}

h1{
    text-align: center;
    margin-bottom: 20px;
}

div#form > p{
    font-size: 0.8em;
    text-align: justify;
    text-indent: 10px;
    
}

#entra{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color:#001fb89a;
    color: white;
    border-radius: 5px;
    border: none;
}

#entra:hover{
    background-color: #041466;
    font-weight: bold;
}


.botao{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    text-decoration: none;
    background-color:white ;
    color: white;
    border-radius: 5px;
    border: none;  
    color: rgb(3, 3, 41); 
    text-align: center;
    border:1px solid ;
    margin-top: 5px;
}

.botao:hover{
    background-color: #001fb89a;
}